<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (+91)7259969873
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> chandranandan16@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://www.linkedin.com/in/chandra-nandan-aa2730173/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/cncdragneel/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>